/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

.admin #listing_products img.inkit_logo, .admin [data-hook="variants_row"] img.inkit_logo {
    height: 1.2em;
    background-color: #00adee;
    background-image: none;
    border: 1px solid #00adee;
}

#product_ink_button_publish_field input[type="checkbox"], #variant_ink_button_publish_field input[type="checkbox"] {
    width: initial;
}

#product_ink_button_publish_field label, #variant_ink_button_publish_field label {
    display: inline-block;
}
